{% extends "base.html" %}
{% block content %}
<a href='{% url "post_create" %}'>
    Create Post
</a>
<br>
{% for post in post_list %}
<h1>{{ post.title }}</h1>
<h3>by {{ post.author }} </h3>
<p>{{post.content|safe}}</p>

<span>Posted: {{ post.created_on}} </span>

<a href="{% url 'post_detail' post.slug  %}">Read More &rarr;</a>
<br>
<br>Reactions: 
    {% if post.total_likes_reactions %}| {{ post.total_likes_reactions }} &#128077; {% endif %}
    {% if post.total_loves_reactions %}| {{ post.total_loves_reactions }} &#128150; {% endif %}
    {% if post.total_sad_reactions %}| {{ post.total_sad_reactions }} &#128557; {% endif %}
    {% if post.total_angry_reactions %}| {{ post.total_angry_reactions }} &#128545; {% endif %}
    {% if post.total_fire_reactions %}| {{ post.total_fire_reactions }} &#128293; {% endif %}
    {% if post.total_taco_reactions %}| {{ post.total_taco_reactions }} &#127790; {% endif %}

<hr>
{% endfor %}

{%endblock%}